{% extends "base.html" %}

{% block title %}

{% endblock title %} 

{% block body %}
<header class="bg-light text-black py-3">
    <div class="container">
      <h1 class="fw-light"><strong>Drinks Menu</strong></h1>
      <p class="lead">
        <strong>Refresh your senses with handcrafted beverages, from classic cocktails to unique house specials.</strong>
      </p>
    </div>
  </header>

  <main>
    <div class="album py-5 bg-light">
      <div class="container">
        <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
          <!-- Card 1 -->
          <div class="col">
            <div class="card shadow-sm">
              <img src="static/image/beer.jpg" class="card-img-top" alt="" height="300px" width="100%" style="object-fit: cover;" />
              <div class="card-body">
                <p class="card-text">Beer</p>
                <div class="d-flex justify-content-between align-items-center">
                  <div class="btn-group">
                    <button type="button" class="btn btn-sm btn-outline-secondary me-2">View Item</button>
                    <button type="button" class="btn btn-sm btn-outline-secondary">Add to cart</button>
                    
                    
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!-- Card 2 -->
          <div class="col">
            <div class="card shadow-sm">
              <img src="static/image/whiskey.jpg" class="card-img-top" alt="" height="300px" width="100%" style="object-fit: cover;" />
              <div class="card-body">
                <p class="card-text">Whiskey</p>
                <div class="d-flex justify-content-between align-items-center">
                  <div class="btn-group">
                    <button type="button" class="btn btn-sm btn-outline-secondary me-2">View Item</button>
                    <button type="button" class="btn btn-sm btn-outline-secondary">Add to cart</button>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!-- card 3 -->
          <div class="col">
            <div class="card shadow-sm">
              <img src="static/image/Vodka.jpg" class="card-img-top" alt="" height="300px" width="100%" style="object-fit: cover;" />
              <div class="card-body">
                <p class="card-text">Vodka</p>
                <div class="d-flex justify-content-between align-items-center">
                  <div class="btn-group">
                    <button type="button" class="btn btn-sm btn-outline-secondary me-2">View Item</button>
                    <button type="button" class="btn btn-sm btn-outline-secondary">Add to cart</button>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!-- card 4 -->
          <div class="col">
            <div class="card shadow-sm">
              <img src="static/image/margarita.jpg" class="card-img-top" alt="" height="300px" width="100%" style="object-fit: cover;" />
              <div class="card-body">
                <p class="card-text">Margarita</p>
                <div class="d-flex justify-content-between align-items-center">
                  <div class="btn-group">
                    <button type="button" class="btn btn-sm btn-outline-secondary me-2">View Item</button>
                    <button type="button" class="btn btn-sm btn-outline-secondary">Add to cart</button>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!-- card 5 -->
          <div class="col">
            <div class="card shadow-sm">
              <img src="static/image/Mojito.jpg" class="card-img-top" alt="" height="300px" width="100%" style="object-fit: cover;" />
              <div class="card-body">
                <p class="card-text">Mojito</p>
                <div class="d-flex justify-content-between align-items-center">
                  <div class="btn-group">
                    <button type="button" class="btn btn-sm btn-outline-secondary me-2">View Item</button>
                    <button type="button" class="btn btn-sm btn-outline-secondary">Add to cart</button>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!-- card 6 -->
          <div class="col">
            <div class="card shadow-sm">
              <img src="static/image/Piña Colada.jpg" class="card-img-top" alt="Food 2" height="300px" width="100%" style="object-fit: cover;" />
              <div class="card-body">
                <p class="card-text">Piña Colada</p>
                <div class="d-flex justify-content-between align-items-center">
                  <div class="btn-group">
                    <button type="button" class="btn btn-sm btn-outline-secondary me-2">View Item</button>
                    <button type="button" class="btn btn-sm btn-outline-secondary">Add to cart</button>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!-- card 7 -->
          <div class="col">
            <div class="card shadow-sm">
              <img src="static/image/coke.jpg" class="card-img-top" alt="" height="300px" width="100%" style="object-fit: cover;" />
              <div class="card-body">
                <p class="card-text">Coca~Cola</p>
                <div class="d-flex justify-content-between align-items-center">
                  <div class="btn-group">
                    <button type="button" class="btn btn-sm btn-outline-secondary me-2">View Item</button>
                    <button type="button" class="btn btn-sm btn-outline-secondary">Add to cart</button>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!-- card 8 -->
          <div class="col">
            <div class="card shadow-sm">
              <img src="static/image/pepsi.jpg" class="card-img-top" alt="" height="300px" width="100%" style="object-fit: cover;" />
              <div class="card-body">
                <p class="card-text">Pepsi</p>
                <div class="d-flex justify-content-between align-items-center">
                  <div class="btn-group">
                    <button type="button" class="btn btn-sm btn-outline-secondary me-2">View Item</button>
                    <button type="button" class="btn btn-sm btn-outline-secondary">Add to cart</button>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!-- card 9 -->
          <div class="col">
            <div class="card shadow-sm">
              <img src="static/image/lemonade.jpg" class="card-img-top" alt="" height="300px" width="100%" style="object-fit: cover;" />
              <div class="card-body">
                <p class="card-text">Lemonade</p>
                <div class="d-flex justify-content-between align-items-center">
                  <div class="btn-group">
                    <button type="button" class="btn btn-sm btn-outline-secondary me-2">View Item</button>
                    <button type="button" class="btn btn-sm btn-outline-secondary">Add to cart</button>
                  </div>
                </div>
              </div>
            </div>
          </div>

         </div>
            <div class="container pt-3 pd-2">
            <p class="float-end">
                <a href="#"><img src="static/image/arrow.png" alt="Back to top" width="40" height="40" /></a>
            </p>
            </div>
     </div>
    </div>
  </main>
{% endblock %}